{% extends 'poll/home.html' %}
{% load widget_tweaks %}
{% block title %}
    Poll:Form
{% endblock %}

{% block content %}
    <div class="ui grid">
        {% block left_content %}
            {{ block.super }}
        {% endblock %}
        {% block middel_content %}
            <div class="ui six wide centered column">
                {% include 'member/error_message.html' %}
                <form method="post" class="ui form">
                    {% csrf_token %}

                    {% for field in form.visible_fields %}
                        <div class="field">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button class="ui button positive">Create Poll</button>
                </form>
            </div>
        {% endblock %}
    </div>
    {% block script %}
        {{ block.super }}
    {% endblock %}
{% endblock %}